[submodule "Deps/nlohmann_json"]
	path = Deps/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = release/3.10.5
[submodule "Deps/spdlog"]
	path = Deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Deps/ModernNotifyIcon"]
	path = Deps/ModernNotifyIcon
	url = https://github.com/serverfailure71/ModernNotifyIcon.git
	branch = v1.1
